<div class="jumbotron text-center">
    <h1>Wiki<span class="label label-info">Trends</span></h1>
</div>

<h1><span class="label label-default">About</span></h1>
<h3>Find out what's trending on Wikipedia. This application was developed by Adrian Dornan as part of his final year project in Computer Applications in DCU.</h3>
<h3>The user can view what is currently trending, what is popular and future forecasts. Graphs are used to visualy display the data to the user.</h3>

<h3>The application has a Python back end that parses and stores page view statistics of Wikipedia articles. A time series of all article views are stored in a MongoDB database and presented to users using a MEAN (Mongo, Express, Angular and Node) stack.</h3>

