<div class="jumbotron text-center">
    <h1>Wiki<span class="label label-info">Trends</span></h1>
</div>

<h1><span class="label label-default">API</span></h1>
    <h3>Welcome to the WikiTrends API</h3>
    <h4>Instructions on how to use the API are the following:</h4>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>URL</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="/api/daily100">/api/daily100</a></td>
                <td>Returns an array of the top 100 articles viewed that day</td>
            </tr>
            <tr>
                <td><a href="/api/daily100/:position">/api/daily100/:position</a></td>
                <td>Returns the nth most popular article that day</td>
            </tr>
            <tr>
                <td><a href="/api/monthly100">/api/monthly100</a></td>
                <td>Returns an array of the top 100 articles viewed that month</td>
            </tr>
            <tr>
                <td><a href="/api/monthly100/:position ">/api/monthly100/:position</a></td>
                <td>Returns the nth most popular article that month</td>
            </tr>
            <tr>
                <td><a href="/api/yearly100">/api/yearly100</a></td>
                <td>Returns an array of the top 100 articles viewed that year</td>
            </tr>
            <tr>
                <td><a href="/api/yearly100/:position">/api/yearly100/:position</a></td>
                <td>Returns the nth most popular article that year</td>
            </tr>
            <tr>
                <td><a href="/api/trending100">/api/trending100</a></td>
                <td>Returns an array of the top 100 trending articles that year</td>
            </tr>
            <tr>
                <td><a href="/api/trending100/:position">/api/trending100/:position</a></td>
                <td>Returns the nth top trending article that year</td>
            </tr>
            <tr>
                <td><a href="/api/articles/:articleName">/api/articles/:articleName</a></td>
                <td>Returns all information on that individual article</td>
            </tr>
            <tr>
                <td><a href="/api/forecast/">/api/forecast</td>
                <td>Returns the forecasted top viewed articles in 2 weeks time</td>
            </tr>
        </tbody>
    </table>


</h3>
