<!-- public/views/nerd.html -->

<div class="jumbotron text-center">
    <h1>{{ article._id }}</h1>

    <p></p>
</div>


<div ng-repeat="article in articles">
    <label>
        <h6>The name of the article is: {{ article._id }}</h6>
    </label>
</div>

<h6>The name of the article is: {{ article._id }}</h6>
<h6>The day total of the article is: {{ article.day_total }}</h6>
<h6>The month total of the article is: {{ article.month_total }}</h6>
<h6>The year total of the article is: {{ article.year_total }}</h6>
<h6>The zScore of the article is: {{ article.zScore }}</h6>