<!-- public/views/home.html -->

<!-- HEADER AND TODO COUNT -->
<div class="jumbotron text-center">
    <h1>Wiki<span class="label label-info">Trends</span></h1>
</div>

<!-- FORM TO CREATE TODOS -->
<div id="todo-form" class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <form>

            <div class="form-group">

                <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                <input type="text" class="form-control input-lg text-center" placeholder="Search for any article here" ng-model="searchQuery">
            </div>

            <!-- createToDo() WILL CREATE NEW TODOS -->
            <button type="submit" class="btn btn-primary btn-lg" ng-click="search(searchQuery)">Search</button>
        </form>
    </div>
</div>

<h1><span class="label label-default">What's currently trending</span></h1>
<nvd3 options="options" data="data"></nvd3>


<!--<h1>TEST DATA: {{data}}</h1>-->

<!--<h1>TEST RARA: {{RARA}}</h1>-->

<!-- TODO LIST -->
<div id="todo-list" class="row">
    <div class="col-sm-4 col-sm-offset-4">

        <!-- LOOP OVER THE TODOS IN $scope.todos -->
        <div ng-repeat="trend in trends | orderBy: '_id' | limitTo:10">
            <span>
                {{ trend._id }}.
				<a href="/#articles/{{trend.name}}"> {{ trend.name }} </a>
                <a href="http://en.wikipedia.org/wiki/{{trend.name}}"> <img src="images/wiki.png" alt="Mountain View" style="width:12px;height:12px"> </a>
			</span>
        </div>

    </div>
</div>