.scrollArea {
    height: 200px;
    overflow: auto;
}

#footer {
    margin-top: 52px;
    background-color: #eee;
    border-radius: 5px;
    color:white;
    clear:both;
    text-align:center;
    padding:10px;
    margin-bottom: 2px;
}


.search {
    background-color: #000000;
    color:#000000;
}

.beside {
    float:left;
}